<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title id="appTitle">
      Tele Medicine APP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title id="detaildiv">
        John Doe
      </ion-title>
      <div id="qrcodediv">
        <ngx-qrcode elementType="img" [(value)]="qrData" errorCorrectionLevel="L">
        </ngx-qrcode>
      </div>
      <h4 style="text-align: center;" *ngIf="record">{{record.createdDateTime}}</h4>
    </ion-toolbar>
  </ion-header>
  
  <ion-card *ngFor="let q of questionArray;let i = index;">
    <ion-card-header>
      <ion-card-title>Q{{i+1}}: {{q.question}}</ion-card-title>
      <div *ngIf="q.subQuestion.length>0">
        <p *ngFor="let subQ of q.subQuestion">{{subQ}}</p>
      </div>
    </ion-card-header>

    <ion-card-content *ngIf="record">
      <div id="answerdiv">
        <ion-textarea disabled readonly>
          {{answerArray[i]}}
        </ion-textarea>
      </div>
    </ion-card-content>

  </ion-card>

</ion-content>