#addnewdiv{
    display: inline-flex;
    display: -webkit-flex; /* Safari */
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: x-large;
  }

  #appTitle{
    font-size: x-large;
  }